<!-- <div class="custom-navbar">
    <div class="custom-navbar-container">
        <a href="/" class="custom-navbar-logo">
            <img src="./static/img/logo.svg" alt="Logo" />
        </a>
        <div class="custom-navbar-menu">
            {% for page in pages %}
                <div class="custom-navbar-item">
                    <a href="{{ url_for(page.endpoint) }}" class="custom-navbar-link">{{ page.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div> -->
<div class="bg-blue">
  <nav>
    <div>
        <a href="/">
            <img src="../static/img/logo.svg" alt="" class="size logo">
        </a>
    </div>
    <ul class="nav-links">
      <li><a href="#about">About</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <nav id="hamburger-nav">
    <div>
        <a href="/">
            <img src="../static/img/logo.svg" alt="" class="size logo">
        </a>
    </div>
    <div class="hamburger-menu">
      <div class="hamburger-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
        <div class="menu-links">
          <li><a href="#about" onclick="toggleMenu()">About</a></li>
          <li><a href="#experience" onclick="toggleMenu()">Experience</a></li>
          <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
          <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
        </div>
      </div>
    </div>
  </nav>
</div>
